body{
    font-family: "Montserrat";
}

:root{
    --main-color : #D3CBC8;
}
.mobile-only{
    display: none;
}
.isMobileCenter{

}
.web-only{
    display: block;
}
@media screen and (max-width: 992px) {
    .mobile-only{
        display: block;
    }
    .web-only{
        display: none;
    }
}
