nav{
    background-color: #867064!important;
}
nav img{
    width: 7vw;
}
.card{
    background-color: #402E2E!important;
}
[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
    background-color: #6b5c5c!important;
}
[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after {
    border: 2px solid white!important;
}
.btn{
    background-color: #402E2E!important;
}
@media screen and (max-width: 992px) {
    nav img{
        width: 20vw;
    }
    .mt-6{
        margin-top: -6vw;
    }
}
